<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>


    <h1>Upload a File</h1>
    <form method="POST" id="uploadForm" enctype="multipart/form-data">
        <input type="file" id="fileInput" name="file">
        <button type="submit">Upload</button>
    </form>
    <div id="output"></div>


    <!-- <h3>Upload to S3</h3>

    <form method="POST" enctype="multipart/form-data" style="margin-bottom: 30px;">
        <input type="file" name="file-to-save" />
        <button>Upload</button>
    </form>
     -->

    <script>
        document.getElementById('uploadForm').addEventListener('submit', async function(event) {
            event.preventDefault();
            
                // Disable the submit button
            const submitButton = document.querySelector('button[type="submit"]');
            submitButton.disabled = true;

                // Show loading message
            const loadingMessage = document.createElement('span');
            loadingMessage.textContent = 'Uploading...';
            document.getElementById('output').appendChild(loadingMessage);
            
            const formData = new FormData();
            formData.append('file', document.getElementById('fileInput').files[0]);
            try {
                const response = await fetch('http://107.21.246.79:8080/upload', {
                    method: 'POST',
                    body: formData
                });
                const data = await response.json();
                document.getElementById('output').innerText = data.report;
            } catch (error) {
                console.error('Error:', error);
            }finally {
                // Re-enable the submit button
                submitButton.disabled = false;

                // Remove loading message
                document.getElementById('output').removeChild(loadingMessage);
            }
        });
    </script>
</body>
</html>
